* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}

/* Navbar */

#navbar {
    align-items: center;
    display: flex;
    height: 9vh;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5);
}

#navbar-logo {
    align-self: center;
    background-color: initial;
    justify-self: center;
    margin-left: 25px;
}

#navbar-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 400px;
}

.navbar-links {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
}

/* Hero */

#welcome-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#hero-text-and-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    width: 400px;
    height: 354px;
}

.contact-button {
    background-color: #000;
    border-radius: 25px;
    color: #fff;
    font-size: 13px;
    margin-top: 25px;
    padding: 10px 20px;
}

.contact-button:hover {
    background-color: #2b62e3;
    color: #fff;
    cursor: pointer;
}

#hero-picture-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

#hero-picture {
    border-radius: 50%;
    height: 300px;
    object-fit: cover;
    width: 300px;
}
#socials-container {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    width: 100%;
}

.icons {
    height: 50px;
    width: 50px;
}

.titles {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

/* ABOUT */

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-picture {
    height: 550px;
    object-fit: cover;
    width: 300px;
}

#about-text-container {
    max-width: 500px;
    padding-left: 50px;
}

#about-text {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 25px;
}

/* media queries */

@media (max-width: 768px) {
    #welcome-section {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 50px;
    }

    #about {
        height: 100%;
        margin-top: 9vh;
    }

    #about-container {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #about-picture {
        margin-top: 100px;
    }
    
    #about-text-container {
        padding-top: 50px;
    }

}
